*{
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top{
    height: 1024px;
    background-image: url(../image/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  
.heading{
    padding-top: 217px;
}

.h_2{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    width: 481px;
    height: 64px;
    padding-bottom: 44px;
}

.h_2-bold{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}


.top_heading{
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    width: 789px;
    padding-bottom: 32px;
}

.go{
    width: 234px;
    height: 48px;
    background: #9C0332;
    border: 1px solid #9C0332;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    position: relative;
    background: #000915;
    margin-top: 0px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.menu_content{
    position: relative;
    margin-top: 128px;
    margin-bottom: 128px;
}

.menu_heading{
    position: absolute;
    top: 236px;
    left: 32px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;

}

.jpg{
    height: 300px;
    width: 379px;
    border-radius: 16px;
}

.menu_content:hover{
    transform: scale(1.05);
}

.go:hover {
    transform: scale(1.05);
}

@import 'mobile';